<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UW OAG Report Editing Tool</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row" id="header">
            <div id="boundless_banner">
                <img src="../public/img/boundless_bar.png" class="img-fluid" alt="UW logo" width="50%" style="margin-left:-1.5%;">
                <h1 style="margin-top:5%;">SCP Report Editing Tool</h1>
            </div>
            <div>
                <h2>1) Select all reports to be edited</h2>
            </div>
        </div>
        <div class="row form-border" id="checkboxes">
            <div class="col-xs-4">
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Non ADV Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">UWAA Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Thank You Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Gift Processing (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Non ADV Gift Processing (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">UWAA Gift Processing (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Thank You Gift Processing (*.xls)
                        </label>
                </div>
            </div>
            <div class="col-xs-4 offset-xl-4 offset-md-2" style="display:flex-inline;">
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Daily Upload (*.txt)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Thank You Daily Upload (*.txt)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">UWAA Daily Upload (*.txt)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">Non ADV Parent Upload (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge">UWAA Membership (*.xls)
                        </label>
                </div>
                <div style="margin-top:25%;">
                    <button type="button" class="btn btn-danger" style="float:right; justify-content:flex-end;">Reset All</button>
                </div>
            </div>
        </div>
        <div class="row" id="upload">
            <h2>2) Upload all selected reports</h2>
            <div class="col-xs-6" style="margin-top:8%;">
                <button class="btn btn-lg upload-btn text-center" type="button" href="progress.html">Upload File</button>
            </div>
        </div>
    </div>
    <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="javascripts/upload.js"></script>
</body>

</html>