<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UW OAG Report Editing Tool</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row" id="header">
            <div id="boundless_banner">
                <img src="/img/boundless_bar.png" class="img-fluid" alt="UW logo" width="50%" style="margin-left:-1.5%;">
                <h1 style="margin-top:5%;">SCP Report Editing Tool</h1>
            </div>
            <div>
                <h2>1) Select all reports to be edited</h2>
            </div>
        </div>
        <div class="row form-border" id="checkboxes">
            <div class="col-xs-4 col-xl-5 col-lg-5">
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Non ADV Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> UWAA Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Thank You Letter Merge (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Gift Processing (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Non ADV Gift Processing (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> UWAA Gift Processing (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Thank You Gift Processing (*.xls)
                        </label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-9 col-md-7 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Daily Upload (*.txt)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Thank You Daily Upload (*.txt)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> UWAA Daily Upload (*.txt)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> Non ADV Parent Upload (*.xls)
                        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="letter-merge"> UWAA Membership (*.xls)
                        </label>
                </div>
                <div style="margin-top:25%;">
                    <button id="reset-all" type="button" class="btn btn-danger">Reset All</button>
                </div>
            </div>
        </div>
        <div class="row" id="upload">
            <h2>2) Upload all selected reports</h2>
            <div id="upload-btn-container" class="col-xs-5 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-md-3 offset-sm-3 offset-lg-4">
                <button class="btn btn-lg upload-btn " type="button">Upload File</button>
            </div>
            <!--progress bar and warning should be shown based on logic -->
            <div id="upload-bar-container" class="col-xs-3 col-sm-7 col-md-6 col-lg-6 col-xl-5 offset-sm-1 offset-md-1 offset-lg-3 offset-xl-3">
            </div>
            <div id="error-container" class="col-xs-5 col-sm-10 col-md-9 col-lg-9 col-xl-9">
            </div>
        </div>
    </div>
    <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/js/upload.js"></script>
</body>
</html>